@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <h3>MARIA JOSE AGUILAR BARBOZA</h3>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div>
    <div>
        <a href="~/Paciente" role="button" class="btn btn-info">Pacientes</a> &nbsp
        <a href="~/Medico" role="button" class="btn btn-light">Médicos</a> &nbsp
        <a href="~/Consulta" role="button" class="btn btn-dark">Consultas</a>&nbsp
        <a href="~/informacionGeneral" role="button" class="btn btn-dark">Info General</a>
    </div>
</div>
